<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dw.merchant">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 阅读消息 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 写入消息 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxf5b9abfb1c7d734d" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPwdFirstActivity"
            android:label="@string/title_activity_forget_pwd_first" />
        <activity
            android:name=".activity.ForgetPwdSecondActivity"
            android:label="@string/title_activity_forget_pwd_second" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about" />

        <activity
            android:name=".activity.TabReceiveActivity"
            android:label="@string/menu_sk" />
        <activity
            android:name=".activity.TabVerificationActivity"
            android:label="@string/menu_hx" />
        <activity
            android:name=".activity.TabReceiveRecordsActivity"
            android:label="@string/menu_skjl" />
        <activity
            android:name=".activity.TabVerificationRecordsActivity"
            android:label="@string/menu_hxjl" />

        <activity
            android:name=".activity.InputOrderAmountActivity"
            android:label="@string/zhifu" />
        <activity
            android:name=".activity.ScanPrePayActivity"
            android:label="@string/menu_sk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanPayResultActivity"
            android:label="@string/pay_result" />
        <activity
            android:name=".activity.PayOrderDetailsActivity"
            android:label="交易详情" />
        <activity
            android:name=".activity.VerificationResultActivity"
            android:label="@string/checking" />
        <activity
            android:name=".activity.DateChooseActivity"
            android:label="@string/calendar" />

        <activity
            android:name=".zhifubao.AliPayInitiativeScanPayActivity"
            android:label="@string/tiaomafu" />
        <activity
            android:name=".zhifubao.AliPayPassiveScanPayActivity"
            android:label="@string/zhifubao" />
        <activity
            android:name=".zhifubao.RefundActivity"
            android:label="@string/tiaomafu" />

        <activity
            android:name=".weixin.WeChatInitiativeScanPayActivity"
            android:exported="true"
            android:label="@string/weixin"
            android:launchMode="singleTop" />
        <activity
            android:name=".weixin.WeChatPassiveScanPayActivity"
            android:exported="true"
            android:label="@string/weixin"
            android:launchMode="singleTop" />

        <receiver android:name=".weixin.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4d09dc83e50ebeca877e617dc53918c7fa56a153" />
    </application>

</manifest>
